* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background-color: #1C1C1C;
}

.container {
  min-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
  width: 100%;
  min-width: 1200px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
}
header nav img {
  width: 40px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  height: 100%;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 28px 0;
}
header nav ul li a:hover {
  border-bottom: 4px solid #0282F9;
}
header .header-line {
  background-color: #0282F9;
  height: 10px;
  width: 100%;
}

.jumbotron {
  height: 400px;
  width: 100%;
}
.jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.mainContent .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.mainContent .container .row .col {
  width: calc(16.6666666667% - 20px);
}
.mainContent .container .row .col img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
}
.mainContent .container .row .col h2 {
  font-size: 12px;
  color: white;
}
.mainContent .banner-name .banner {
  color: white;
  font-weight: bold;
  background-color: #0282F9;
  padding: 15px 20px;
}
.mainContent .more-btn {
  margin: 30px 0 10px 0;
  min-width: 1200px;
  display: flex;
  justify-content: center;
}
.mainContent .more-btn .btn {
  display: block;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #0282F9;
  cursor: pointer;
}
.mainContent .referral-container {
  width: 100%;
  height: 100px;
  min-width: 1200px;
  background-color: #0282F9;
}
.mainContent .referral-container .referral {
  height: 100%;
}
.mainContent .referral-container .referral ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.mainContent .referral-container .referral ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  cursor: pointer;
}
.mainContent .referral-container .referral ul li img {
  width: 30px;
  height: 40px;
}

footer {
  min-width: 1200px;
  height: 480px;
  background-image: url("../images/footer-bg.jpg");
}
footer .footer-section {
  display: flex;
  justify-content: space-around;
  color: white;
}
footer .footer-section .list-container {
  padding: 30px 30px 0 30px;
  flex-wrap: wrap;
  gap: 0 30px;
  width: 600px;
  display: flex;
  align-items: start;
}
footer .footer-section .list-container h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}
footer .footer-section .list-container ul {
  list-style: none;
  margin-top: 16px;
}
footer .footer-section .list-container ul li {
  margin: 8px 0;
}
footer .footer-section .list-container ul li a {
  color: gray;
  text-decoration: none;
}
footer .footer-section .list-container ul li a:hover {
  text-decoration: underline;
}
footer .footer-section .list-container .list-pie {
  padding: 25px 0;
}
footer .footer-section .list-container .list-pie p {
  color: gray;
  font-size: 12px;
}
footer .footer-section .list-container .list-pie p span {
  color: #0282F9;
}
footer .footer-section .big-logo {
  background-image: url("../images/dc-logo-bg.png");
  width: 630px;
  height: 480px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-pie {
  height: 150px;
}
footer .footer-pie .footer-pie-container {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-pie .footer-pie-container .footer-btn {
  color: white;
  border: 2px solid #0282F9;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
footer .footer-pie .footer-pie-container .footer-btn:hover {
  background-color: #0282F9;
  cursor: pointer;
}
footer .footer-pie .footer-pie-container .footer-socials ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
footer .footer-pie .footer-pie-container .footer-socials ul li span {
  color: #0282F9;
  font-weight: bold;
  font-size: 20px;
}