* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background-color: #1C1C1C;
}

.container {
  min-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
  width: 100%;
  min-width: 1200px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
}
header nav img {
  width: 40px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  height: 100%;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 28px 0;
}
header nav ul li a:hover {
  border-bottom: 4px solid #0282F9;
}
header .header-line {
  background-color: #0282F9;
  height: 10px;
  width: 100%;
}

.jumbotron {
  height: 400px;
  width: 100%;
}
.jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.mainContent .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.mainContent .container .row .col {
  width: calc(16.6666666667% - 20px);
}
.mainContent .container .row .col img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
}
.mainContent .container .row .col h2 {
  font-size: 12px;
  color: white;
}
.mainContent .banner-name .banner {
  color: white;
  font-weight: bold;
  background-color: #0282F9;
  padding: 15px 20px;
}
.mainContent .more-btn {
  margin: 30px 0 10px 0;
  min-width: 1200px;
  display: flex;
  justify-content: center;
}
.mainContent .more-btn .btn {
  display: block;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #0282F9;
  cursor: pointer;
}
.mainContent .referral-container {
  width: 100%;
  height: 100px;
  min-width: 1200px;
  background-color: #0282F9;
}
.mainContent .referral-container .referral {
  height: 100%;
}
.mainContent .referral-container .referral ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.mainContent .referral-container .referral ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.mainContent .referral-container .referral ul li img {
  width: 30px;
  height: 40px;
}